.title {
  margin-bottom: var(--base-size-16)
}
.card {
  border-width: 1px;
  border-style: solid;
  border-radius: var(--borderRadius-medium);
  border-color: var(--borderColor-default);
  padding: var(--base-size-16);
}

.cardText {
  margin-bottom: var(--base-size-16)
}