.container {
  position: absolute;
  top: 0;
  right: 0;
}

.buttonWrapper {
  position: relative;
  justify-content: flex-end;
}

.label {
  display: inline-block;
  margin-inline-start: var(--base-size-8);
}
