.container {
  background-color: var(--bgColor-default);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--base-size-32);
}

.contentBox {
  max-width: 600px;
  width: 100%;
  height: 300px;
  background-color: var(--bgColor-muted);
  border-radius: var(--borderRadius-medium);
  margin-block: var(--base-size-40);
}

.codeLine {
  color: var(--fgColor-default);
  margin-block-end: var(--base-size-8);
}

.iconWrapper {
  margin-block-start: 2px;
  width: 20px;
  min-width: 20px;
}

.codeText {
  flex: 1;
  font-size: var(--text-body-size-medium);
  font-family: var(--fontStack-monospace);
  margin-inline-start: var(--base-size-8);
}

.monaWrapper {
  display: inline-block;
  margin-inline-start: var(--base-size-16);
  margin-block-start: var(--base-size-8);
}

.footerHeader {
  margin-inline-end: var(--base-size-8);
  margin-block-end: var(--base-size-8);
}

.tipsText {
  color: var(--fgColor-accent);
  font-size: medium;
}

.warningText {
  color: var(--fgColor-attention);
}
