@import "@primer/primitives/dist/css/base/size/size.css";
@import "@primer/primitives/dist/css/base/typography/typography.css";
@import "@primer/primitives/dist/css/functional/size/border.css";
@import "@primer/primitives/dist/css/functional/size/breakpoints.css";
@import "@primer/primitives/dist/css/functional/size/size-coarse.css";
@import "@primer/primitives/dist/css/functional/size/size-fine.css";
@import "@primer/primitives/dist/css/functional/size/size.css";
@import "@primer/primitives/dist/css/functional/size/viewport.css";
@import "@primer/primitives/dist/css/functional/typography/typography.css";

@import "@primer/primitives/dist/css/functional/themes/light.css";
@import "@primer/primitives/dist/css/functional/themes/dark.css";

/* @import "./github-markdown.css"; */

h1 {
  font-size: var(--text-title-size-large);
  line-height: var(--text-title-lineHeight-large);
  font-weight: var(--text-title-weight-large);
}

h2 {
  font-size: var(--text-title-size-medium);
  line-height: var(--text-title-lineHeight-medium);
  font-weight: var(--text-title-weight-medium);
}

p,
span,
li {
  font-size: var(--text-body-size-medium);
  line-height: var(--text-body-lineHeight-large);
}

body {
  overflow: hidden;
}
